<div id="vacationContainer">
    <h2>Vacation Photo Contest</h2>

    <form class="form-horizontal" role="form"
          enctype="multipart/form-data" id="vacationForm">

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <div class="form-group">
            <label for="fieldName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control"
                       id="fieldName" name="name">
            </div>
        </div>

        <div class="form-group">
            <label for="fieldEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" required
                       id="fieldName" name="email">
            </div>
        </div>

        <div class="form-group">
            <label for="fieldPhoto" class="col-sm-2 control-label">Vacation photo</label>
            <div class="col-sm-4">
			<span class="btn btn-default btn-file">
				Upload
				<input type="file" class="form-control" required accept="image/*"
                       id="fieldPhoto" data-url="/upload" multiple name="photo">
			</span>
                <div id="fileUploads"></div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>

<script>
    document.getElementById('vacationForm')
            .addEventListener('submit', evt => {
                evt.preventDefault()
                const body = new FormData(evt.target)
                const container = document.getElementById('vacationContainer')
                const url = '/api/vacation'
                console.log(url)

                fetch(url, { method: 'post', body })
                        .then(resp => {
                            if(resp.status < 200 || resp.status >= 300)
                                throw new Error(`Request failed with status ${resp.status}`)
                            return resp.json()
                        })
                        .then(json => {
                            container.innerHTML = '<b>Thank you for submitting your photo!<b>'
                        })
                        .catch(err => {
                            container.innerHTML = `<b>We're sorry, we had a problem` +
                                    `signing you up. Plass <a href="/vacation">try again</a>` +
                                    `<p>Error = ${err}</p>`
                        })
            })
</script>