<h1>Welcome to Meadowlark Travel</h1>

    <div>
        Please<a href="/newsletter-signup" class="ml-5" data-test-id="about">Sign Up</a> to our newsletter using either!
    </div>

<p>Questions? Checkout out our
    <a href="/about" data-test-id="about">About Us</a>
    <a href="/vacation" class="ml-5" data-test-id="about">Vacation Photo Contest</a>
    <a href="/cart" class="ml-5" data-test-id="about">shopping cart example</a>
</p>
{{> weather}}